<mat-sidenav-container>
  <mat-sidenav-content>
  <mat-toolbar color="primary">
    <header><a mat-menu-item  routerLink="/Author" routerLinkActive="active-link">
      <span class="Hlabel">Pinot-noir wind quality analysis</span>
    </a></header>
  </mat-toolbar>
  <mat-toolbar color="primary">
    <a mat-menu-item  routerLink="/" routerLinkActive="active-link">
      <mat-icon class="icon">dashboard</mat-icon>
      <span class="label">Dashboard</span>
    </a>
    <a mat-menu-item routerLink="/ArcGis" routerLinkActive = "active-link">
      <mat-icon class="icon">language</mat-icon>
      <span  class="label">ArcGIS data</span>
    </a>  
    <a mat-menu-item routerLink="/DataSet" routerLinkActive = "active-link">
      <mat-icon class="icon">dataset</mat-icon>
      <span  class="label">Datasets</span>
    </a>  
    <a mat-menu-item routerLink="/Author" routerLinkActive = "active-link">
      <mat-icon class="icon">assignment_ind</mat-icon>
      <span  class="label">Information</span>
    </a>  
    <a *ngIf="!signedIn" mat-menu-item routerLink="/login" routerLinkActive = "active-link">
      <mat-icon class="icon">account_circle</mat-icon>
      <span class="label" >Admin login</span>
    </a>
    <a *ngIf="signedIn" mat-menu-item routerLink="/login" routerLinkActive = "active-link">
      <mat-icon class="icon">account_circle</mat-icon>
      <span class="label" >Signed in ({{User}})</span>
    </a>
  </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>